<h3>@ViewBag.Title</h3>

<table class="table">
    <tr>
        <th>State</th>
        <th>Population</th>
        <th>Violent_Crime</th>
        <th>Homicide</th>
        <th>Rape_Revised</th>
        <th>Robbery</th>
        <th>Aggravated_Assault</th>
        <th>Property_Crime</th>
        <th>Burglary</th>
        <th>Larceny</th>
        <th>Motor_Vehicle_Theft</th>
        <th>Arson</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.State</td>
            <td>@c.Population</td>
            <td>@c.Violent_Crime</td>
            <td>@c.Homicide</td>
            <td>@c.Rape_Revised</td>
            <td>@c.Robbery</td>
            <td>@c.Aggravated_Assault</td>
            <td>@c.Property_Crime</td>
            <td>@c.Burglary</td>
            <td>@c.Larceny</td>
            <td>@c.Motor_Vehicle_Theft</td>
            <td>@c.Arson</td>
        </tr>
    }

</table>