@using FinalProject.Models


@{
    ViewBag.Title = "UserInfo";
}


<body>

    <img id="backgroundPic" src="../Pictures/super3.jpg" alt="yooooo" />
    <div style="position:relative" id="foreground">
        <img id="foregroundPic" src="..\Pictures\secret2.png" alt="yooooo" />
        <div id="statePic" style="position:absolute; left:208px; top:47px;">
            @if (Model.StateId != null)
            {
                <img id="statepic" src=@ViewBag.Img alt="NOT SHOWING" />
            }
            else
            {
                <img id="statepic" src="..\Pictures\QuestionMark.png" alt="NOT SHOWING" />

            }
        </div>
        <div style="position:absolute; left:82px; top:290px">
            @if (Model.SuperPower == null || Model.C_Hero_Villain_ == null || Model.Mentor == null || Model.Personality == null)
            {
            <a href="../Home/UserProfile" class="btn-success">Add Profile Info</a>

            }
        </div>
        <div style="position:absolute; left:82px; top:323px">
            <p>@Model.SuperName</p>
        </div>
        <div style="position:absolute; left:82px; top:356px">
            @if (Model.SuperPower != null)
            {
                <p>Superpower: @Model.SuperPower</p>
            }
        </div>
        <div style="position:absolute; left:82px; top:389px">
            @if (Model.C_Hero_Villain_ != null)
            {
                if (Model.C_Hero_Villain_ == true)
                {
                    <p>Hero/Villain: Hero</p>
                }
                else
                {
                    <p>Hero/Villain: Villain</p>
                }
            }
        </div>
        <div style="position:absolute; left:82px; top:421px">
            @if (Model.Mentor != null)
            {
                <p>Mentor: @Model.Mentor.Name</p>
            }
        </div>
        <div style="position:absolute; left:82px; top:454px">
            @if (Model.Personality != null)
            {
                <p>Personality: @Model.Personality</p>
            }
        </div>
        <div style="position:absolute; left:82px; top:486px">
            @if (Model.StateId != null)
            {
                <p>Location:  @Model.StateId</p>
            }
            else
            {
                <p>Location: <a href="../Map/Index" class="btn-success">Choose Location!</a></p>

            }
        </div>
    </div>
</body>

<style>

   html, body {
        height:100%;
        background-size:cover;
    }
    .container body-content {
        position: fixed;
    }

    #backgroundPic {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    #foregroundPic {
        position: relative;
        background-size: contain;
        display: inline-block;
        float: left;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:0;
    }
    
    #statepic {
        transform: rotate(6deg);
        z-index: 101;
        width:240px;
        height:220px;
        
    }
</style>