@using FinalProject.Models


@{
    ViewBag.Title = "UserInfo";
}

<h2>User Info</h2>

<body>

    <img id="backgroundPic" src="../Pictures/super3.jpg" alt="yooooo" />
    <div style="position:relative">
        <img id="foregroundPic" src="..\Pictures\secret2.jpg" alt="yooooo" />
        <div style="position:absolute; left:82px; top:323px">
            YOOOO! What's Good?! Whatever, who cares.
        </div>
        <div style="position:absolute; left:82px; top:359px">
            YOOOO! What's Good?! Whatever, who cares.
        </div>
        <div style="position:absolute; left:82px; top:395px">
            YOOOO! What's Good?! Whatever, who cares.
        </div>
    </div>
</body>

<div class="col-md-3" id="ProductBox">
    <h3>@Model.SuperName</h3>


    @if (Model.SuperPower == null || Model.C_Hero_Villain_ == null || Model.Mentor == null || Model.Personality == null)
    {
        <p>Add Profile Info: <a href="../Home/UserProfile" class="btn-success">GOOOOO!</a></p>

    }
    
    @if (Model.SuperPower != null)
    {
        <p>Superpower: @Model.SuperPower</p>
    }
    
    @if (Model.C_Hero_Villain_ != null)
    {
        if (Model.C_Hero_Villain_ == true)
        {
            <p>Hero/Villain: Hero</p>
        }
        else
        {
            <p>Hero/Villain: Villain</p>
        }
    }

    @if (Model.Mentor != null)
    {
        <p>Mentor: @Model.Mentor.Name</p>
    }
    
    @if (Model.Personality != null)
    {
        <p>Personality: @Model.Personality</p>
    }

    @if (Model.StateId != null)
    {
        <p>Location:  @Model.StateId</p>
    }
    else
    {
        <p>Location: <a href="../Map/Index" class="btn-success">Choose Location!</a></p>

    }
</div>



<style>

    /*body {
        
        background-size: cover;
        color: darkorange;
    }*/
    .container body-content {
        position: fixed;
    }

    #backgroundPic {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    #foregroundPic {
        position: fixed;
        background-size: contain;
        display: inline-block;
        float: left;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }


</style>