@using FinalProject.Models


@{
    ViewBag.Title = "UserInfo";
}

<h2>User Info</h2>
<div class="col-md-3" id="ProductBox">
    <h3>@Model.SuperName</h3>


    @if (Model.SuperPower == null || Model.C_Hero_Villain_ == null || Model.Mentor == null || Model.Personality == null)
    {
        <p>Add Profile Info: <a href="../Home/UserProfile" class="btn-success">GOOOOO!</a></p>

    }
    
    @if (Model.SuperPower != null)
    {
        <p>Superpower: @Model.SuperPower</p>
    }
    
    @if (Model.C_Hero_Villain_ != null)
    {
        if (Model.C_Hero_Villain_ == true)
        {
            <p>Hero/Villain: Hero</p>
        }
        else
        {
            <p>Hero/Villain: Villain</p>
        }
    }

    @if (Model.Mentor != null)
    {
        <p>Mentor: @Model.Mentor.Name</p>
    }
    
    @if (Model.Personality != null)
    {
        <p>Personality: @Model.Personality</p>
    }

    @if (Model.StateId != null)
    {
        <p>Location:  @Model.StateId</p>
    }
    else
    {
        <p>Location: <a href="../Map/Index" class="btn-success">Choose Location!</a></p>

    }
</div>