
@{
    ViewBag.Title = "Franchise Location";
}

<h2>@ViewBag.Title</h2>


@if (ViewBag.StateNames != null)
{
    <form action="~/Map/GetMapInfo" method="post">
        @Html.DropDownList("state", new SelectList(ViewBag.StateNames), "--Select State--")
        <input type="submit" value="Select State" class="btn-success" />
    </form>
}
<table class="table">
    @if (ViewBag.State != null)
    {
        <tr>
            <th>State</th>
            <th>Population</th>
            <th>Violent Crime</th>
            <th>Homicide</th>
            <th>Robbery</th>
            <th>Aggravated Assault</th>
            <th>Property Crime</th>
            <th>Burglary</th>
            <th>Larceny</th>
            <th>Motor Vehicle Theft</th>
            <th>Arson</th>
        </tr>
        <tr id="info">
            <td>@ViewBag.State.State</td>
            <td>@ViewBag.State.Population</td>
            <td>@ViewBag.State.Violent_Crime</td>
            <td>@ViewBag.State.Homicide</td>
            <td>@ViewBag.State.Robbery</td>
            <td>@ViewBag.State.Aggravated_Assault</td>
            <td>@ViewBag.State.Property_Crime</td>
            <td>@ViewBag.State.Burglary</td>
            <td>@ViewBag.State.Larceny</td>
            <td>@ViewBag.State.Motor_Vehicle_Theft</td>
            <td>@ViewBag.State.Arson</td>
        </tr>
    }
</table>


<script type="text/javascript">
    var i = 0;
    var txt = '@ViewBag.chuckJokeText';
    var speed = 50;

    function typeWriter() {
        console.log("this is a test");
        if (i < txt.length) {
            document.getElementById("textBubble").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
</script>
