
@{
    ViewBag.Title = "TestAlgorithm";
}

<h3>The Ability: @ViewBag.Ability</h3>

<h3>The Crime: @ViewBag.Name</h3>
<h3>The State with Highest rate of that crime: @ViewBag.State.State</h3>
<h3>
    <img src=@ViewBag.Img alt="@ViewBag.State.State" />
</h3>

<h3>Crime Rate (per 100K): @ViewBag.Max</h3>
<table class="table">
    <tr>
        <th>stuff</th>
        <th>stuff</th>
        <th>stuff</th>
        <th>stuff</th>
        <th>stuff</th>
    </tr>
    @foreach (var item in ViewBag.SuggestedItems)
    {
    <tr>
        <td>@item.ItemName</td>
        <td>@item.Description</td>
        <td>@item.Cost</td>
        <td>@item.Availability</td>
        <td>@item.Crime</td>
    </tr>
    }
</table>